<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<form method="POST" action="/admin/addUser" th:object="${user}">
    Имя: <input type="text" name="firstName" th:field="*{firstName}"><br />
    Фамилия: <input type="text" name="lastName" th:field="*{lastName}"><br />
    Email: <input type="text" name="email" th:field="*{email}"><br />
    Password:  <input type="text" name="password" th:field="*{password}"><br />
    Должность: <input type="text" name="position" th:field="*{position}">
    Уровень доступа: <select name="role.id" size="2" th:field="*{role.id}">
    <option value="1">Администратор</option>
    <option value="2">Тренер</option>
</select>
    <br /> <br /> <input type="submit" value="Upload">
</form>

</body>
</html>