<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form method="POST" action="/superAdmin/addUser" th:object="${userDTO}">
    Имя: <input type="text" name="firstName" th:field="*{firstName}"><br />
    Фамилия: <input type="text" name="lastName" th:field="*{lastName}"><br />
    Email: <input type="text" name="email" th:field="*{email}"><br />
    Телефон:  <input type="text" name="cell" th:field="*{cell}"><br />
    Должность: <input type="text" name="position" th:field="*{position}">
    Уровень доступа: <select name="roleId" size="2" th:field="*{roleId}" style="display: block" id="roles"></select>
    <br /> <br /> <input type="submit" value="Upload" class="submit-but">
</form>
</body>
</html>