@font-face {
  font-family: PFB;
  src: url(../fonts/pfbeausanspro-reg-webfont.ttf);
}
@font-face {
  font-family: PFBthin;
  src: url(../fonts/pfbeausanspro-thin-webfont.ttf);
}
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (min-width: 993px) and (max-width: 1027px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (max-width: 845px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (max-width: 690px) { @content; }
  }
  @else if $media == wide-tablets {
    @media only screen and (max-width: 600px) { @content; }
  }
}
$base_font: PFB;
$font_thin: PFBthin;
$main_color: #2dadf0;
$white_color: white;
$dark_gray_color: rgb(109, 110, 113);
$light_gray_color: #ccc;
$uppertext: uppercase;
$radius: 5px;
%border_2{
  border: 2px solid $main_color;
}
%main_padding{padding: 25px 0 25px 0;}
%marking {margin: 0 auto;}
%width {width: 100%;}
%mark_pad_wid{
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

body{
  font-family: $base_font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
th{
  color: $main_color;
  font-weight: normal;
  text-shadow: none;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  left: 0;
  visibility: visible;
  width: 30px;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  left: 0;
  visibility: visible;
  width: 30px;
}
.results{
  margin-top: 30px;
}
.logo{
  @extend %marking;
  @extend %width;
  height: 100px;
  box-sizing: border-box;
  @extend %main_padding;
}
.logo img{
  width: 205px;
  height: 55px;
  @extend %marking;
}
.header-title{
  @extend %marking;
  background-color: $main_color;
  @extend %width;
}
.header-title h1{
  text-align: left;
  @extend %marking;
  font-size: 24px;
  line-height: 24px;
  text-transform: $uppertext;
  color: $white_color;
  @extend %main_padding;
}
.page-main{
  margin-top: 70px;
  margin-bottom: 100px;
}
.user-main{
  margin-top: 20px;
  margin-bottom: 20px;
  h2{
    @extend %marking;
    font-size: 24px;
    line-height: 24px;
    text-transform: $uppertext;
    color: $main_color;
  }
  h3{
    @extend %marking;
    padding-left: 10px;
    font-size: 18px;
    line-height: 18px;
    color: $dark_gray_color;
  }
  .collection{
    margin-left: 10px;
  }
}
.email{
  @extend %width;
  float: left;
  margin-bottom: 10px;
  label{
    margin-right: 22px;
  }
}
.right-side{
  @extend %marking;
  text-align: center;
}
input[type=email]{
  border: 1px solid $light_gray_color;
  box-shadow: none;
  font-size: 18px;
  line-height: 18px;
  color: black;
  width: 300px;
  border-radius: $radius;
  background-color: $white_color;
  height: 35px;
  padding: 0 10px 0 10px;
  @extend %marking;
  box-sizing: border-box;
  &:focus:not([readonly]) {
    border: 1px solid $main_color;
    border-bottom: 1px solid $main_color;
  }
}
input[type=password]{
  @extend input[type=email]
}
label {
  font-size: 14px;
  @extend %marking;
  @extend %main_padding;
  color: $dark_gray_color;
  margin-right: 10px;
}
::-webkit-input-placeholder {
  color: $light_gray_color;
  font-size: 16px;
  padding: 2px;
}
.enter-but{
  margin-top: 45px;
  width: 110px;
  height: 40px;
  background-color: $main_color;
  color: $white_color;
  font-size: 20px;
  text-transform: $uppertext;
  border-radius: 10px;
  border: 2px solid $main_color;
  font-family: $font_thin;
  &:hover{
       background-color: $white_color;
       color: $main_color;
       border: 2px solid $main_color;
       transition: 0.3s;
     }
}
.submit-but{
  margin: 0;
  padding:5px;
  background-color: $main_color;
  color: $white_color;
  font-size: 15px;
  text-transform: $uppertext;
  border-radius: 5px;
  border: 2px solid $main_color;
  font-family: $font_thin;
  &:hover{
    background-color: $white_color;
    color: $main_color;
    border: 2px solid $main_color;
    transition: 0.3s;
  }
}
.out-but{
  margin: 23px 0 0 0;
  background-color: $main_color;
  color: $white_color;
  border: 2px solid $white_color;
  width: 80px;
  height: 30px;
  font-size: 15px;
  text-transform: $uppertext;
  border-radius: 5px;
  &:hover{
    background-color: $white_color;
    color: $main_color;
    border: 2px solid $white_color;
    transition: 0.3s;
  }
}
.start-test-btn{
  margin: 0 auto;
  background-color: $white_color;
  color: $main_color;
  border: 2px solid $main_color;
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 5px 5px 2.5px 5px;
  font-size: 12px;
  text-transform: $uppertext;
  border-radius: 5px;
  &:hover{
    background-color: $main_color;
    color: $white_color;
    border: 2px solid $main_color;
    transition: 0.3s;
  }
}
.footer{
  @extend %mark_pad_wid;
  height: auto;
  background-color: #f4f4f4;
  border-top: 2px solid #2dadf0;
  float: left;
}
.author-part{
  @extend %mark_pad_wid;
  font-size: 14px;
  text-transform: $uppertext;
  color: $dark_gray_color;
}
.author{
  @extend %mark_pad_wid;
  height: 57px;
  p{
    margin-right: 20px;
  }
}
.partner{
  @extend .author;
}
.owl-carousel{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-item{
  float: left;
}
.item{
  text-align: center;
  width: 110px;
  margin-right: 5px;
}
.right-foot{
  @extend %mark_pad_wid;
  height: auto;
  background: $main_color;
  border-right: 2px solid #008fbd;
  border-bottom: 2px solid #008fbd;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  p{
    margin: 3px 0 3px 0;
  }
  i{
    margin-left: 5px;
  }

  @include respond-to(handhelds) {
    font-size: 13px;
    line-height: 28px;};
  @include respond-to(wide-handhelds) {
    font-size: 11px;
    line-height: 20px; };
  @include respond-to(tablets) {
    font-size: 8px;
    line-height: 15px; };
  @include respond-to(wide-tablets) {
    font-size: 14px;
    line-height: 30px;
    text-align: center; };
}

.copyright{
  @extend %mark_pad_wid;
  font-size: 12px;
  line-height: 12px;
  color: $dark_gray_color;
}
ul {
  padding: 0 0 5px 0;
  border-bottom: 1px solid $light_gray_color;
}
.tab{
  display: inline;
}
.tab_span{
  color: $dark_gray_color;
  display: inline;
}
.positions{
  margin: 0; padding: 0;
}
textarea.materialize-textarea{
  margin: 0;
  padding: 0;
  &:focus:not([readonly]) {
    border: none;
    border-bottom: 1px solid $main_color;
    box-shadow: none;
  }
}
.alldiv{
  padding: 0;
  margin-bottom: 20px;
  min-height: 100px;
}