@font-face {
  font-family: PFB;
  src: url(../fonts/pfbeausanspro-reg-webfont.ttf); }
@font-face {
  font-family: PFBthin;
  src: url(../fonts/pfbeausanspro-thin-webfont.ttf); }
.logo, .header-title h1, label {
  padding: 25px 0 25px 0; }

.logo, .logo img, .header-title, .header-title h1, .user-main h2, .user-main h3, .right-side, input[type=email], input[type=password], label {
  margin: 0 auto; }

.logo, .header-title, .email {
  width: 100%; }

.footer, .author-part, .author, .partner, .right-foot, .copyright {
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.start-test-btn, .save-btn, .save-btn-test {
  margin: 0 auto;
  background-color: white;
  color: #2dadf0;
  border: 2px solid #2dadf0;
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 5px 5px 2.5px 5px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px; }
  .start-test-btn:hover, .save-btn:hover, .save-btn-test:hover {
    background-color: #2dadf0;
    color: white;
    border: 2px solid #2dadf0;
    transition: 0.3s; }

.save-btn {
  float: right;
  width: 80px;
  text-align: center;
  line-height: 15px; }

.save-btn-test {
  float: right;
  width: 90px;
  text-align: center;
  line-height: 15px; }

body {
  font-family: PFB;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

th {
  color: #2dadf0;
  font-weight: normal;
  text-shadow: none; }

.results {
  margin-top: 30px; }

.logo {
  height: 100px;
  box-sizing: border-box; }

.logo img {
  width: 205px;
  height: 55px; }

.header-title {
  background-color: #2dadf0; }

.header-title h1 {
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: white; }

.page-main {
  margin-top: 70px;
  margin-bottom: 100px; }

.user-main {
  margin-top: 20px;
  margin-bottom: 20px; }
  .user-main h2 {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2dadf0; }
  .user-main h3 {
    padding-left: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #6d6e71; }
  .user-main .collection {
    margin-left: 10px; }

.email {
  float: left;
  margin-bottom: 10px; }
  .email label {
    margin-right: 22px; }

.right-side {
  text-align: center; }

input[type=email], input[type=password] {
  border: 1px solid #ccc;
  box-shadow: none;
  font-size: 18px;
  line-height: 18px;
  color: black;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  padding: 0 10px 0 10px;
  box-sizing: border-box; }
  input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
    border: 1px solid #2dadf0;
    border-bottom: 1px solid #2dadf0; }

label {
  font-size: 14px;
  color: #6d6e71;
  margin-right: 10px; }

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 16px;
  padding: 2px; }

.enter-but {
  margin-top: 45px;
  width: 110px;
  height: 40px;
  background-color: #2dadf0;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #2dadf0;
  font-family: PFBthin; }
  .enter-but:hover {
    background-color: white;
    color: #2dadf0;
    border: 2px solid #2dadf0;
    transition: 0.3s; }

.submit-but {
  margin: 0;
  padding: 5px;
  background-color: #2dadf0;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #2dadf0;
  font-family: PFBthin; }
  .submit-but:hover {
    background-color: white;
    color: #2dadf0;
    border: 2px solid #2dadf0;
    transition: 0.3s; }

.out-but {
  margin: 23px 0 0 0;
  background-color: #2dadf0;
  color: white;
  border: 2px solid white;
  width: 80px;
  height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px; }
  .out-but:hover {
    background-color: white;
    color: #2dadf0;
    border: 2px solid white;
    transition: 0.3s; }

.footer {
  height: auto;
  background-color: #f4f4f4;
  border-top: 2px solid #2dadf0;
  float: left; }

.author-part {
  font-size: 14px;
  text-transform: uppercase;
  color: #6d6e71; }

.author, .partner {
  height: 57px; }
  .author p, .partner p {
    margin-right: 20px; }

.owl-carousel {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-item {
  float: left; }

.item {
  text-align: center;
  width: 110px;
  margin-right: 5px; }

.right-foot {
  height: auto;
  background: #2dadf0;
  border-right: 2px solid #008fbd;
  border-bottom: 2px solid #008fbd;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: right; }
  .right-foot p {
    margin: 3px 0 3px 0; }
  .right-foot i {
    margin-left: 5px; }
  @media only screen and (min-width: 993px) and (max-width: 1027px) {
    .right-foot {
      font-size: 13px;
      line-height: 28px; } }
  @media only screen and (max-width: 845px) {
    .right-foot {
      font-size: 11px;
      line-height: 20px; } }
  @media only screen and (max-width: 690px) {
    .right-foot {
      font-size: 8px;
      line-height: 15px; } }
  @media only screen and (max-width: 600px) {
    .right-foot {
      font-size: 14px;
      line-height: 30px;
      text-align: center; } }

.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #6d6e71; }

ul {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }

.tab {
  display: inline; }

.tab_span {
  color: #6d6e71;
  display: inline; }
  .tab_span a {
    color: #6d6e71; }
  .tab_span:hover {
    color: #2dadf0; }
  .tab_span:visited {
    color: #3f51b5; }

.positions {
  margin: 0;
  padding: 0; }

textarea.materialize-textarea {
  margin: 0;
  padding: 0; }
  textarea.materialize-textarea:focus:not([readonly]) {
    border: none;
    border-bottom: 1px solid #2dadf0;
    box-shadow: none; }

.alldiv {
  padding: 0;
  margin-bottom: 20px;
  min-height: 100px; }

input:-webkit-autofill {
  background-color: red !important;
  background-image: none;
  color: black; }

.modal .modal-content {
  padding: 15px; }

#modal2 #modal1 {
  top: 30%;
  width: 500px; }

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 500px;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity; }

@media only screen and (max-width: 992px) {
  .modal {
    width: 500px; } }
.page-confirm {
  margin-top: 30px;
  margin-bottom: 100px; }

.span-confirm {
  margin-bottom: 10px; }

[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #2dadf0; }

[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #2dadf0;
  background-color: #2dadf0;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  -moz-transition: .28s ease;
  -o-transition: .28s ease;
  -ms-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }

[type="checkbox"].filled-in:checked + label:after {
  top: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid #2dadf0;
  background-color: #2dadf0;
  z-index: 0; }

[type="checkbox"].filled-in:checked + label:before {
  top: 5px;
  left: 2px;
  width: 5px;
  height: 10px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 5px;
  z-index: 0; }

[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 5px;
  z-index: 0; }

[type="radio"] + label:before, [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  margin: 4px;
  width: 14px;
  height: 14px;
  z-index: 0;
  -webkit-transition: .28s ease;
  -moz-transition: .28s ease;
  -o-transition: .28s ease;
  -ms-transition: .28s ease;
  transition: .28s ease; }

.modal .modal-content {
  padding: 15px;
  padding-bottom: 0; }

.waves-effect.waves-green .waves-ripple {
  background-color: #2dadf0; }

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  border-top: 1.5px solid #2dadf0;
  padding: 4px 6px;
  height: 56px;
  width: 100%; }

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
  float: right;
  margin: 6px 0;
  border-radius: 5px;
  margin-left: 10px;
  color: #2dadf0; }

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2dadf0;
  box-shadow: 0 1px 0 0 #2dadf0; }

input[type=text] {
  height: 2rem; }

[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #6d6e71;
  top: 5px;
  z-index: 0; }

[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #6d6e71; }

.clock {
  background-color: #E3F2FD;
  width: 60%;
  color: #2dadf0;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
